<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search"style="width: 80%;">
  <button class="btn btn-outline-primary">X</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Full Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Location</th>
  </thead>
  <ng-container>
    <tr class="table-dark" *ngFor="let item of customerArray">
      <td>{{item.fullName}}</td>
      <td>{{item.email}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.location}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="customerService.populatedForm(item)">Edit</button>
          <button class="btn btn-outline-danger" (click)="onDelete(item.$key)">Delete</button>
        </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="deleteMessage">
  Deleted successfully.
</div>
